.top-nav-buttons {
  display: flex;
  justify-content: center;

  .btn {
    background-color: gray;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    box-shadow: none;
    border: none;
    margin: 6px;
    padding: 6px;
    font-size: 18px;
  }

  .active {
      background: #cc6699;
  }
}
